*{
    margin: 0px;
    padding: 0px;
}  

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 120px 16px 120px;
}

.logo{
    width: 140px;
    height: 60px;  
}
.btn{
    width: 165px;
    height: 45px;
    padding: 12px 16px;
    border-radius: 4px;
    background-color: #30B868;
    color: rgba(255, 255, 255, 1);
    border: none;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    cursor: pointer;
    font-weight: 600;
}
.btn:hover{
     background-color: #04692d;
}
.link-parent{
    display: flex;
    gap: 32px;
    list-style: none;
    align-items: center;
    
}
.link-parent a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500px;
    font-family: "Inter", sans-serif;
   
}
.hero-parent {
  height: 100vh;
  background-image: url("./assets/hero-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.banner{
    text-align: center;
    padding: 120.5px;
}
.hero-btn{
    background-color: rgba(255, 255, 255, 1);
    width: 230px;
    height: 35px;
    padding: 8px 12px;
    border-radius: 1000px;
    font-size: 16px;
    font-weight: 500;
    color: #30B868;
    line-height: 19px;
    border: none;
    cursor: pointer; 
}
.hero-btn:hover{
     background-color: whitesmoke;   
}
.h1-div{
    padding-top: 16px;
}
.banner-h1{
    font-size: 72px;
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    
}
.banner-2h1{
    font-size: 72px;
    color: rgba(48, 184, 104, 1);
}
.hero-parent .banner p {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    color: rgba(255, 255, 255, 1);
    margin-top: 16px;
    text-align: center;
    line-height: 2;
    margin: 20px 0;
}
.button-div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;  
  margin-top: 10px;
}
.banner-btn1{
   width: 250px;
   height: 52px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 16px;
   font-weight: 600px;
   background-color: #30B868;
   padding: 12px 16px;
   border: none;
   color: rgba(255, 255, 255, 1);
   border-radius: 4px;
   cursor: pointer;
   gap: 10px;
}
.banner-btn1:hover{
     background-color: #04692d;;   
}
.banner-btn1 i{
    margin-left: 10px;
}

.banner-btn2{
    width: 198px;
   height: 52px;
   justify-content: center;
   font-size: 16px;
   font-weight: 600px;
   background-color:transparent;
   padding: 12px 16px;
   border: 1px solid rgba(255, 255, 255, 1);
   color: rgba(255, 255, 255, 1);
   border-radius: 4px;
   cursor: pointer;
}
.banner-btn2:hover{
    background-color: #627382;
}
.btn-icon {
  width: 16px;  
  height: 16px;
  margin: 0;
  padding: 0;
}


.banner-btn2 i{
    margin-right: 10px;
}
.full-banner{
    background-color: rgb(248, 248, 248);
}

.card-banner{
    max-width: 1360px;
    margin: 0px 120px 0px 120px;
    /* background-color: rgb(248, 248, 248); */
}
.card-div {
  text-align: center; 
  max-width: 800px;   
  margin: 0 auto;      
  padding: 40px 20px;
}

.card-banner-h1{
    font-size: 48px;
    font-weight: 700;
    font-style: bold;
}

.card-banner-p{
    color: var(--#b6c1cb, rgba(98, 115, 130, 1));
    font-size: 12px;
    font-weight: 400;
    line-height: 2;
    margin-left: 100px;
    display: flex;
    /* margin: 10px 0px; */
}
.card-container {
    display: flex;                
    justify-content: center;     
    gap: 24px;                       
    margin-top: 44px;  
    margin: 0 120px 0 120px;            
}

.card{
    width: 322px;
    height: 300px;
    background-color: whitesmoke;
    text-align: center;
    gap: 16px;
   border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    background: rgba(255, 255, 255, 1);


}
.card-image {
    width: 32px;                
    height: 32px;               
    background: rgba(249, 85, 85, 1);
    border-radius: 50%;            
    padding: 10px;
    margin-top: 70px;  
    margin-bottom: 16px; 
}
.card h1{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 16px;
}
.card p{
    font-size: 16px;
    font-weight: 400;
    margin-top: 16px;
    color: #627382;
}

.section-banner{
    width: 1600px;
    height: 840px;
    margin: 0px 120px;   
    display: flex;
    align-items: center;
}
.list-banner {
    width: 1360px;
    height: 600px;
    gap: 60px;
  display: flex;                 
  align-items: center;          
}
.list-image{
    width: 600px;
    height: 600px;
}
.text-list{
    width: 700px;
    height: 20px;
    color: rgba(48, 184, 104, 1);
    font-size: 16px;
    font-weight:500px;
    margin-bottom: 16px;
}
.head-list{
    width: 700px;
    height: 116px;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}
.list-para{
    width: 700px;
    height: 60px;
    font-size: 16px;
    font-weight: 400px;
    color: #627382;
    margin-bottom: 40px;
}
.feature-list {
  list-style: none; 
  margin: 0;
  padding:0;
}

.feature-list li {
  display: flex;      
  align-items: center; 
  gap: 12px;     
  margin-bottom: 16px;
}

.logo2 {
  width: 20px;
  height: 20px;
}
.last-banner {
    max-width: 1600px;
    height: 506px;
    margin: 0 120px 120px 120px;
    background-color:  rgba(247, 246, 242, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}
.last-div{
    padding: 80px 40px;
    align-items: center;

}
.last-h1{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 16px;
}
.last-p{
    font-size: 16px;
    font-weight: 400px;
    color: #627382;
    margin-bottom: 16px;
    align-items: center;
}
.last-btn{
     width: 194px;
   height: 52px;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 16px;
   font-weight: 600px;
   background-color: #30B868;
   padding: 12px 16px;
   border: none;
   color: rgba(255, 255, 255, 1);
   border-radius: 4px;
   margin-left: 130px;
   cursor: pointer;
   gap: 10px;
   border-radius: 4px;
   box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
   background: var(--#30B868, rgba(70, 145, 101, 1));
   margin-bottom: 16px;
}

.last-btn:hover{
    background-color: #04692d;
}

.mini-p {
    font-size: 16px;
    font-weight: 400px;
    color: #627382;
    margin-bottom: 16px;
    align-items: center;
    margin-left: 50px;
}
.last{
    width: 1600px;
    height: 348px;
     background: linear-gradient(180deg, #061a33, #041224);
     width: 100%;
}
.footer {
  color: #ffffff;
  /* margin: 120px 120px 30px 120px; */
  padding: 100px 120px 30px 120px;
  
}
.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-logo {
  width: 140px;
  height: 60;
}

.brand-name {
  font-size: 20px;
  font-weight: 600;
  color: #6fd3a4;
}

.social-text {
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
}

.social-icons {
  display: flex;
  gap: 16px;
}

.social-icons a {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ffffff;
  color: #041224;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  text-decoration: none;
}

.footer-divider {
  margin-top: 50px;
  border: none;
  height: 1px;
  background: rgba(255, 255, 255, 0.2);
}
.footer-text {
  text-align: center;
  font-size: 14px;
  padding: 40px;
  color: #d1d5db;
}
.social-icons a:hover {
  background-color: #6fd3a4;
}





